@font-face {
    font-family: "Oduda";
    src: url(./fonts/Oduda-Bold.otf);
}

body {
    font-family: "Oduda";
}

ul {
    list-style: none;
    width: fit-content;
    padding: 0;
    margin: 0;
}

#leaderboard {
    list-style-type: none;
    padding: 0;
}

.player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-2px);
    transition: all 0.2s ease-in-out;
    padding: 10px;
    color: #fb9db6;
    background-image: linear-gradient(to right, #f6e8e3ff, #fb9db6aa);
    border-top: #fff8f6 solid 2px;
    border-bottom: #d0a493 solid 2px;
    border-radius: 0px 35px 35px 0px;
}

.player img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.player span, .player div {
    margin-right: 10px;
}

.score {
    color: #975f6e;
}

.hearts-container {
    display: flex;
    gap: 5px;
}

.heart {
    cursor: pointer;
    font-size: 20px;
    transition: color 0.2s ease-in-out;
}

.heart.enabled {
    color: red; 
}

.heart.disabled {
    color: grey; 
}
