@font-face {
    font-family: "Oduda";
    src: url(../fonts/Oduda-Bold.otf);
}

body {
    font-family: "Oduda";
}

ul {
    list-style: none;
    width: fit-content;
    max-width: 300px;
    padding: 0;
    margin: 0;
}

#leaderboard {
    list-style-type: none;
    padding: 0;
}

.player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-2px);
    transition: all 0.2s ease-in-out;
    padding: 10px;
    color: #fb9db6;
    background-color: #f6e8e3ff;
    border-bottom: #d0a493 solid 3px;
    border-radius: 0px 35px 35px 0px;
}

.player img {
    width: 60px;
    height: 60px;
    border-radius: 30%;
    margin-right: 10px;
}

.player span, .player div {
    margin-right: 10px;
}

.score {
    color: #975f6e;
}

.hearts-container {
    display: flex;
    gap: 5px;
}

.heart {
    cursor: pointer;
    font-size: 20px;
    transition: color 0.2s ease-in-out;
}

.heart.enabled {
    color: #ff645c; 
}

.heart.disabled {
    color: #B18787; 
}
