@font-face {
    font-family: "Oduda";
    src: url(../fonts/Oduda-Bold.otf);
}


#bg {
    margin: 0;

}

#pfp {
    position: absolute;
    border-radius: 30%;
    top: 600px;
    left: 65px;

}

#winner {
    font-family: Oduda;
    font-size: 150px;
    background-image: linear-gradient(89deg, rgba(249,145,145,1) 0%, rgba(249,174,145,1) 13%, rgba(249,221,145,1) 28%, rgba(117,225,117,1) 43%, rgba(117,225,165,1) 57%, rgba(117,205,225,1) 71%, rgba(117,163,225,1) 87%, rgba(193,130,241,1) 100%); 
    background-clip: text;

}